* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: rgb(234, 168, 194);
    --heading-tex-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);

    color: rgb(6, 6, 152);
}

aside h2 {
    position: absolute: top: 47px;
    left: 150px;
}

aside {
    width: 20cm;
    text-align: center;
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}

nav {
    background-color: rgb(136, 136, 163);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main img {
    /* declaration */
    float: right
}

p {
    padding: 10px;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb%;
    padding: 1rem;
    background-color: #bbb;
    color: #000;
}