* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: rgb(214, 187, 137);
    --heading-tex-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);

    color: rgb(152, 67, 6);
}

    {
    max-width: 840px;
}

aside h2 {
    position: absolute: top: 47px;
    left: 150px;
}

aside {
    width: 35cm;
    text-align: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);

}

nav {
    background-color: rgb(127, 66, 22);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px rgb(62, 30, 30);
}

main {
    max-width: 1600px;
}

main img {
    /* declaration */
    float: right;
    width: 200px;
    height: auto;
    border: 1px;
    padding: 2px;
    box-shadow: 0 0 rg
}


p {
    padding: 0;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid padding: 1rem;
    background-color: rose;
    color: rgb(33, 33, 71);
    padding: var(--padding);
}

footer {
    margin-top: 15px;
    border-top: 1px solid text-align: center;
}